{% extends '../base.html' %}
{% block title %} Актер {% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="title">{{ actor.first_name }} {{ actor.surname }}</h1>
    <div class="container-buttons">
    </div>
    <div class="film-body">
      <img src="{% static actor.photo %}" alt="photo">
          <div class="film-info">
            <h2 class="film-title">{{ actor.first_name }} {{ actor.surname }}<div class="rating">{{film.rating}}</div></h2>
            <p>Дата рождения {{ actor.birth_date }}</p>
            <p>Пол: {{ actor.gender }}</p>
            <p>id: {{ actor.pk }}</p>
          </div>
          <div class="container-buttons">
            <div><a href="{% url 'actor_update' actor.pk%}">Редактировать</a></br></div>
            <div><a href="{% url 'actor_delete' actor.pk%}">Удалить</a></br></div>
            <div><a href="{% url 'films_list' %}">Главная</a></div>
      </div>
    </div>
    <div class="container">
      {% for film in films %}
        <div class="film-body">
          <img src="{% static film.poster %}" alt="photo">
          <div class="film-info">
            <h2 class="film-title"><a href="{% url 'film_detail' film.pk %}">{{ film.title }}</a>    <div class="rating">{{film.rating}}</div></h2>
            <p>Премьера {{ film.release }}</p>
            <p>{{ film.slogan|default_if_none:"-----" }} </p>
            <p>Жанры: {{ film.genres.all|join:" " }}</p>
            <p>В главных ролях: {{ film.male_actor|default_if_none:"неизвестно" }}, {{ film.female_actor|default_if_none:"неизвестно"  }} </p>
            <p> {{ film.studio |default_if_none:"неизвестно" }} </p>
            <p>Длительность: {{ film.duration }} </p>
            <p>Возрастной рейтинг: {{ film.age }}</p>
            <p>id: {{ film.pk }}</p>
          </div>
          <div class="container-buttons">
            <div><a href="{% url 'film_update' film.pk%}">Редактировать</a></br></div>
            <div><a href="{% url 'film_delete' film.pk%}">Удалить</a></br></div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<div class="related_films">
  
</div>
{% endblock %}