{% extends '../base.html' %}
{% block title %} Добавить {% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
<div class="container-update">
  <div class="top-line">
    <h1 class="title">Добавить актера</h1>
    <div class="container-buttons button-add-film">
      <button class="button-add-film" type="submit">Добавить</button>
    </div> 
  </div>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
              <div> {{error}} </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
</div>
</form>
{% endblock %}