{% extends '../base.html' %}
{% block title %} Фильмы {% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="title">{{ film.title }}<div class="rating">{{film.rating}}</div></h1>
    <div class="container-buttons">
        <div><a href="{% url 'film_update' film.pk%}">Редактировать</a></br></div>
        <div><a href="{% url 'film_delete' film.pk%}">Удалить</a></br></div>
        <div><a href="{% url 'films_list' %}">Назад</a></div>
    </div> 
  <div class="film-body">
    <img src="{% static film.poster %}" alt="photo">
    <div class="film-info">
      <p>Премьера {{ film.release }}</p>
      <p> {{ film.slogan }} </p>
      <p class="card-text">Жанры {{ film.getgenres }}</p>
      <p>В главных ролях: {{ film.male_actor}}, {{ film.female_actor }} </p>
      <p> {{ film.studio }} </p>
      <p>Длительность: {{ film.duration }} </p>
      <p>Возрастной рейтинг: {{ film.age }}</p>
      <p>id: {{ film.pk }}</p>
    </div>
    <div class="container-buttons detail">
    </div>
  </div>
</div>
<div class="related_films">
  
</div>
{% endblock %}