{% extends '../base.html' %}
{% load static %}
{% block title %} Фильмы {% endblock %}
{% block content %}
  <div class="top-line">
    <h1 class="title">Фильмы с Гослингом</h1>
    <form action="{% url 'film_create' %}">
      <button type="submit" class="button-add-film">Добавить фильм</button>
    </form>
  </div>
    <div class="container">
      {% for film in films %}
        {% if film.male_actor.surname == 'Гослинг' %} 
          <div class="film-body">
            <img src="{% static film.poster %}" alt="photo">
            <div class="film-info">
              <h2 class="film-title"><a href="{% url 'film_detail' film.pk %}">{{ film.title }}</a>    <div class="rating">{{film.rating}}</div></h2>
              <p>Премьера {{ film.release }}</p>
              <p>{{ film.slogan|default_if_none:"-----" }} </p>
              <p>Жанры: {{ film.genres.all|join:" " }}</p>
              <p>В главных ролях: {{ film.male_actor|default_if_none:"неизвестно" }}, {{ film.female_actor|default_if_none:"неизвестно"  }} </p>
              <p> {{ film.studio |default_if_none:"неизвестно" }} </p>
              <p>Длительность: {{ film.duration }} </p>
              <p>Возрастной рейтинг: {{ film.age }}</p>
              <p>id: {{ film.pk }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}