{% extends '../base.html' %}
{% block title %} Редактировать {% endblock %}
{% block content %}
{% load static %}
  <form method="POST" enctype="multipart/form-data">
    <div class="top-line">
      <h1 class="title">Редактировать</h1>
      <div class="container-buttons ">
        {% if object.user_id == user.id %}
        <button class="button-add-film" type="submit">Сохранить изменения</button>
        {% endif %}
        <p><a class="cancel" href="{% url 'films_list' %}">Отмена</a></p>
      </div>
    </div>

    <div class="film-body update-body">
      {% csrf_token %}
      {{ form.as_p }}
  </div>
</form>
{% endblock %}